html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: greenyellow;
    width: 2000px;
}
#time {
    position: absolute;
    margin: 50px;
    z-index: 3;
}
:root{
    --sky-gradient-day: linear-gradient(#00afe4, #dcf4fcff);
    --sky-gradient-night: linear-gradient(#00001a, #27005a);
}
@keyframes sky{
    0% {opacity: 0;}
    10% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    90% {opacity: 0;}
    100% {opacity: 0;}
}
#skyDay {
   width: 2000px;
   height: 380px;
   position: absolute;
   background: linear-gradient(#00afe4, #dcf4fcff);
   animation: sky 20s infinite;
   z-index: 2;
}
#skyNight {
   width: 2000px;
   height: 380px;
   position: absolute;
   background: linear-gradient(#00001a, #27005a);
   animation: sky 20s infinite;
   animation-delay: -10s;
   z-index: 2;
}
#skyBackgroud {
   width: 2000px;
   height: 380px;
   position: absolute;
   background: linear-gradient(#fad840, #ff7b00);
   z-index: 1;
}